.jumbotron {
    background:transparent;
    padding-top:1px;
    padding-bottom:1px;
    
}

.onePadding {
    padding-top:1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display:block
  }

  .icon {
      margin-bottom: 5px;
  }

  .list-group-item {
    border:none;
  }

  .card {
      border:none;
  }

  .border {
    z-index: 1;
    border-radius: 5px;
    border-width: thick;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
  }

  .border:hover {
    position: relative;
    z-index: 2;
    transform: scale(1.05, 1.05);
  }

  .listHighlight {
    transition: all 0.15s ease-in-out;
  } 
  